<button pButton pRipple type="button" label="go" class="p-d-block p-mx-auto" (click)="go()"></button>


<br>
<button pButton pRipple type="button" label="unsubscribe" class="p-d-block p-mx-auto" (click)="unsubscribe()"></button>


<br>
<button pButton pRipple type="button" label="add" class="p-d-block p-mx-auto" (click)="add()"></button>

<p-dropdown [options]="dNP" optionLabel="列印順序" optionLabel="name" optionValue="id"></p-dropdown>

<p-dropdown [options]="dAll" optionLabel="部門" optionLabel="name" optionValue="id"></p-dropdown>

<router-outlet></router-outlet>